[Desktop Entry]
Type=Application
Name=Kneipen-Schlägerei
Comment=Decentralized Communication Hub
Exec=AppRun
Icon=kneipe
Categories=Network;Chat;
Terminal=false
